#ram {
    font-family: "Comic sans MS";
    width: 1344px;
    height: 482px;
}

#pageLayout{
    background-color: rgba(255, 255, 255, 0.5);
    width: 635px;
    height: 199.2px;
    margin: 10px 37px 10px 672px;
    border-radius: 8px;
}

#moistvalue {
    font-size: 22px;
    width: auto;
    height: auto;
    padding: 5px 10px 5px 10px;
}

#insertMoistValueSensitivity {
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
}

.rubrik {
    width: auto;
    padding: 5px 10px 5px 10px;
}

h2 {
    font-size: 22px;
}

#instructions{
    width: auto;
    height: auto;
    margin: 5px 10px 5px 10px;
}

.container{
    margin: 0px 10px 0px 10px;
}

input{
    width: 120px;
    height: 30px;
    margin: 5px 10px 5px 0px;
    border-radius: 8px;
}

button{
    width: 80px;
    height: 30px;
    margin: 5px 0px 5px 391px;
    border-radius: 8px;
}