<!DOCTYPE html>
<html lang="en">

    <head>
        <title>FlowerPower</title>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/indexWhenLoggedIn.css') }}">
        {% block link %}{% endblock %}
    </head>

    <body>
        <div id="header">
            <h1>Välkommen</h1>
            <h1>till</h1>
            <h1>FlowerPower</h1>
            <h1 id="headerlast">{{ username }}</h1>
            <div id="meny">
                <span id="button1">
                    <a href="{{ url_for('logOut') }}">Logga ut</a>
                </span>
                <span id="button2">
                        <a href="{{ url_for('homepageloggedin') }}">Startsidan</a>
                </span>
                <span id="button3">
                        <a href="{{ url_for('insertMoistValueSensitivity') }}">Ange fuktkänslighetsvärde</a>
                </span>
                <span id="button4">
                    <a href="{{ url_for('waterPlant') }}">Hantera Blomma</a>
                </span>
            </div>
        </div>
        <div id="content">
            <div id="moistvalue">
                <span class="textspan">Blommans fuktvärde är: {{ moistValue }}</span>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>