{% extends "index.html" %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/logIn.css') }}">
{% endblock %}
{% block content %}

        <div id="ram">
            <form id="logIn" action="" method="POST">
                <div class="rubrik">
                    <h2>Logga in</h2>
                </div>
                <div class="container">
                    <table border="0">
                        <tr>
                            <td><label><b>Användarnamn</b></label></td>
                            <td><input type="text" placeholder="Username" name="username" required/></td>
                        </tr>
                        <tr>
                            <td><label><b></b>Lösenord</b></label></td>
                            <td><input type="password" placeholder="Password" name="password" required/></td>
                        </tr>
                    </table>
                    <div class="buttons">
                        <button type="submit" name="loginButton" value="Login">Logga in</button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}